.product_pack{
    background: #c70039;
    position: absolute;
    margin-left:46px;
    margin-top:-5px;
    padding-top:5px;
    top: 69px;
    vertical-align: top;
    color: #fff;
    line-height: 13px;
    padding: 2px 5px;
    border-radius: 2px;
    opacity: 1.8;
    width: 54%;
    height:13px;
    border:1px solid  #c70039;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-left-style: dotted;
}
.combo_background{
	background:  #32a868 !important;
	opacity: -0.5 !important;
}
.pos .product .product-qty {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: green;
    opacity: 0.6;
    padding: 2px 5px;
    border-radius: 2px;
}
.pos .product .product-qty-low {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: red;
    padding: 2px 5px;
    border-radius: 2px;
}

