.wrap {
    padding: 0 140px;
}

@media (max-width: 991.98px) {
    .wrap {
        padding: 0 31px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .wrap {
        padding: 0 101px;
    }
}

@media (min-width: 768px) and (max-width: 1050px) {
    .wrap {
        padding: 0 51px;
    }
}

@media (min-width: 768px) and (max-width: 950px) {
    .wrap {
        padding: 0 51px !important;
    }
}

.main {
    background-image: url(/wizard_spinner_gift/static/src/images/1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 50px;
    background-position: inherit;
    background-size: cover;
}

.login-form {
    color: white;
    margin-top: 200px;
    background: #fff;
    padding: 40px;
    border-radius: 19px;
    text-align: center;
}

.login-form h1 {
    margin: 0 0 48px 0;
    font-size: 35px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.login-form .form-input-material {
    margin: 39px 0;
}

.login-form .btn {
   width: 36%;
    margin: 18px 0 9px 0;
    padding: 13px 19px;
    background: #ed1b24;
    border-radius: 10px;
    color: #fff;
    font-size: 19px;
    border: 1px solid #ed1b24;
    font-weight: 500;
}

.login-form input {
    color: #ed1b24;
}

.login-form button,
.login-form input {
    font: inherit;
    outline: none;
}

.form-input-material {
    --input-border-bottom-color: #ed1b24;
    position: relative;
    border-bottom: 1px solid #ed1b24;
}

.form-input-material::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s;
}

.form-input-material:focus-within::before {
    transform: scaleX(1);
}

.form-input-material .form-control-material {
    padding: 0.5rem 0;
    background: none;
    border: none;
    width: 100%;
}

.form-input-material .form-control-material:focus~label,
.form-input-material .form-control-material:not(:placeholder-shown)~label {
    transform: translateY(-110%) scale(0.8);
    color: #ed1b24;
}

.form-input-material label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    transition: 0.3s;
    transform-origin: left;
    color: #ed1b24;
}

form.login-form p a {
    font-size: 13px;
    color: #ed1b24;
}

form.login-form p a:hover {
    text-decoration: none;
}

button.btn.btn-ghost:hover {
    background: #fff0;
    color: #ed1b24;
    box-shadow: 0px 0px 11px 0px #ed1b2436;
    transition-duration: .5s;
}



.spin_weels{
    background-image: url(/wizard_spinner_gift/static/src/images/bg-01.jpg);
    background-repeat: no-repeat;
    /*height: 100vh;*/
    padding: 150px 0;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
}


.mainbox {
  position: relative;
  width: 800px;
height: 800px;
  margin: auto;
}

.mainbox:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(/wizard_spinner_gift/static/src/images/arrow-bottom.png) no-repeat;
  background-size: 5%;
  left: 5%;
  top: 48%;
  transform: rotate(90deg);
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #D4AF37;
  overflow: hidden;
  transition: all ease-in-out 5s;
  transform: rotate(90deg);
  box-shadow: 0 5px 20px #00000036;
}

.font {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

/*.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.span2 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.span3 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.span4 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.span6 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.span7 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
   background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.span8 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.span9 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
   background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.span10 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}*/

.box2 .span3 {
  background-color: #00ff04;
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.font {
  color: white;
  font-size: 20px;
}

/*.box1 .span1 b {
  position: absolute;
  top: 38%;
right: 70%;
  transform: rotate(200deg);
  text-align: center;
  color: #fff;
}

.box1 .span2 b {
  position: absolute;
  top: 22%;
right: 57%;
  transform: rotate(-130deg);
  color: #000;
}

.box1 .span3 b {
  position: absolute;
 top: 19%;
right: 41%;
  transform: rotate(-90deg);
  color: #fff;
}

.box1 .span4 b {
  position: absolute;
  top: 25%;
right: 22%;
  transform: rotate(-45deg);
  color: #000;
}

.box1 .span5 b {
  position: absolute;
  top: 38%;
  right: 10%;
  transform: rotate(-15deg);
  text-align: center;
  color: #fff;
}

.box2 .span6 b {
  position: absolute;
  top: 37%;
right: 70%;
  transform: rotate(200deg);
  color: #000;
}

.box2 .span7 b {
  position: absolute;
  top: 24%;
right: 60%;
  transform: rotate(-130deg);
  text-align: center;
  color: #fff;
}

.box2 .span8 b {
  position: absolute;
  top: 15%;
  right: 40%;
  transform: rotate(270deg);
  color: #000;
}

.box2 .span9 b {
  position: absolute;
  top: 21%;
  right: 20%;
  transform: rotate(310deg);
  color: #fff;
}

.box2 .span10 b {
  position: absolute;
  top: 37%;
  right: 10%;
  transform: rotate(-20deg);
  text-align: center;
  color: #000;
}*/

.spin {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;

}

.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after {
  animation: animateArrow 0.7s ease infinite;
}

audio {
  display: none;
}

/*@keyframes animateArrow {
  50% {
    right: -50px;
  }
}*/



.swal-modal {
    background-image: url(/wizard_spinner_gift/static/src/images/gif_popper.gif);
    padding: 31px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.swal-title {
    color: #000;
    font-size: 30px;
}
.swal-text {
    font-weight: bold;
    font-size: 20px;
    margin-top: -9px;
    color: #515151;
}
.swal-footer button {
    padding: 10px 44px;
    background: #95141e;
}

.swal-footer button:hover{
    background: #95141e !important;
}
.swal-button-container {
    margin: auto;
    display: block;
    text-align: center;
}

@media (max-width: 991px) {
.main {
    height: auto;
}
.login-form {
    margin-top: 93px;
}
}





.span1 {
    clip-path: polygon(0 11%, 0 31%, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.box1 .span1 b {
    position: absolute;
    top: 35%;
    right: 70%;
    transform: rotate(210deg);
    text-align: center;
    color: #fff;
}

.span2 {
    clip-path: polygon(0 12%, 16% 0, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.box1 .span2 b {
    position: absolute;
    top: 28%;
    right: 64%;
    transform: rotate(-130deg);
    color: #000;
}

.span3 {
    clip-path: polygon(15% 0, 37% 0, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.box1 .span3 b {
    position: absolute;
    top: 24%;
    right: 56%;
    transform: rotate(-116deg);
    color: #fff;
}

.span4 {
    clip-path: polygon(37% 0, 53% 0, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.box1 .span4 b {
    position: absolute;
    top: 22%;
    right: 48%;
    transform: rotate(-96deg);
    color: #000;
}

.font.span5 {
    clip-path: polygon(67% 0, 52% 0, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.box1 .span5 b {
    position: absolute;
    top: 22%;
    right: 41%;
    transform: rotate(-82deg);
    text-align: center;
    color: #fff;
}

.span6 {
    clip-path: polygon(0 114%, 1% 194%, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.box2 .span6 b {
    position: absolute;
    top: 70%;
    right: 57%;
    transform: rotate(125deg);
    color: #000;
}

.font.span11 {
    clip-path: polygon(126% 0, 87% 0, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #e71d24);
}

.span11 b {
    position: absolute;
    top: 31%;
    right: 27%;
    transform: rotate(-41deg);
    text-align: center;
    color: #fff;
}

.font.span12 {
    clip-path: polygon(194% 20%, 126% 0, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.span12 b {
    position: absolute;
    top: 39%;
    right: 23%;
    transform: rotate(-24deg);
    text-align: center;
    color: #000;
}

.span7 {
    clip-path: polygon(0 61%, 0 40%, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.box2 .span7 b {
    position: absolute;
    top: 48%;
    right: 71%;
    transform: rotate(-179deg);
    text-align: center;
    color: #fff;
}

.span8 {
    clip-path: polygon(-191% 0, 0 15%, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.box2 .span8 b {
    position: absolute;
    top: 37%;
    right: 69%;
    transform: rotate(201deg);
    color: #000;
}

.span9 {
    clip-path: polygon(-22% 0, 18% 0%, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.box2 .span9 b {
    position: absolute;
    top: 29%;
    right: 64%;
    transform: rotate(224deg);
    color: #fff;
}

.span10 {
    clip-path: polygon(18% 0, 38% 0, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.box2 .span10 b {
    position: absolute;
    top: 23%;
    right: 56%;
    transform: rotate(-114deg);
    text-align: center;
    color: #000;
}

.font.span16 {
    clip-path: polygon(38% 0, 54% 0%, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.font.span16 b {
    position: absolute;
    top: 20%;
    right: 48%;
    transform: rotate(262deg);
    color: #fff;
}

.font.span17 {
    clip-path: polygon(54% 0, 72% 0%, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.font.span17 b {
    position: absolute;
    top: 20%;
    right: 38%;
    transform: rotate(290deg);
    color: #000;
}

.font.span18 {
    clip-path: polygon(95% 0, 72% 0%, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.font.span18 b {
    position: absolute;
    top: 25%;
    right: 31%;
    transform: rotate(306deg);
    color: #fff;
}

.font.span19 {
    clip-path: polygon(133% 0, 94% 0%, 50% 50%);
   background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.font.span19 b {
    position: absolute;
    top: 31%;
    right: 25%;
    transform: rotate(317deg);
    color: #000;
}

.font.span13 {
    clip-path: polygon(0 47%, 0 31%, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.font.span13 b {
    position: absolute;
    top: 42%;
    right: 72%;
    transform: rotate(193deg);
    text-align: center;
    color: #000;
}

.font.span14 {
    clip-path: polygon(0 62%, 0 46%, 50% 50%);
    background-image: linear-gradient(to top, #c31b21 , #ea1d24);
}

.font.span14 b {
    position: absolute;
    top: 50%;
    right: 72%;
    transform: rotate(178deg);
    text-align: center;
    color: #fffbfb;
}

.font.span15 {
    clip-path: polygon(0 81%, 0 61%, 50% 50%);
    background-image: linear-gradient(to top, #eeead6 , #fefdf8);
}

.font.span15 b {
    position: absolute;
    top: 57%;
    right: 70%;
    transform: rotate(162deg);
    text-align: center;
    color: #000;
}






@media (max-width: 900px) {
.mainbox {
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
}
.box1 .span1 b {
    top: 33%;
}
.box1 .span2 b {
    top: 26%;
}
.box1 .span3 b {
    top: 21%;
}
.box1 .span4 b {
    top: 21%;
    right: 46%;
}
.box1 .span5 b {
    top: 20%;
    right: 39%;
}
.span11 b {
    top: 28%;
    right: 22%;
    transform: rotate(-42deg);
}
.span12 b {
    top: 36%;
    right: 18%;
}
.font.span13 b {
    top: 40%;
}
.font.span14 b {
    top: 49%;
}
.font.span15 b {
    top: 58%;
    right: 71%;
}
.font.span16 b {
    top: 19%;
    right: 46%;
}
.font.span17 b {
    top: 19%;
    right: 37%;
    transform: rotate(281deg);
}
.font.span18 b {
    top: 23%;
    right: 28%;
}
.font.span19 b {
    top: 29%;
    right: 22%;
}
.box2 .span6 b {
    top: 71%;
    transform: rotate(120deg);
}
.box2 .span7 b {
    top: 47%;
}
.box2 .span8 b {
    top: 36%;
}
.box2 .span9 b {
    top: 26%;
}.box2 .span10 b {
    top: 20%;
}

}

@media (max-width: 700px) {
.mainbox {
    width: 400px;
    height: 400px;
}
.box1 .span1 b {
    top: 30%;
    right: 68%;
}
.box1 .span2 b {
    top: 22%;
    right: 61%;
}
.box1 .span3 b {
    top: 16%;
    right: 54%;
}
.box1 .span4 b {
    top: 16%;
    right: 44%;
}
.box1 .span5 b {
    top: 17%;
    right: 36%;
}
.span11 b {
    top: 25%;
    right: 18%;
}
.span12 b {
    top: 34%;
    right: 12%;
}
.font.span17 b {
    top: 18%;
    right: 33%;
    transform: rotate(281deg);
}
.font.span13 b {
    top: 38%;
}
.font.span14 b {
    top: 48%;
}
.font.span15 b {
    top: 55%;
    right: 66%;
}
.box2 .span6 b {
    top: 71%;
    transform: rotate(120deg);
    right: 55%;
}
.box2 .span7 b {
    top: 46%;
}
.box2 .span8 b {
    top: 33%;
}
.box2 .span9 b {
    top: 22%;
}
.box2 .span10 b {
    top: 17%;
    right: 53%;
}
.font.span16 b {
    top: 15%;
    right: 42%;
    transform: rotate(267deg);
}
.font.span18 b {
    top: 22%;
    right: 24%;
}
.font.span19 b {
    top: 28%;
    right: 18%;
    transform: rotate(320deg);
}
}


@media (max-width: 500px) {
.mainbox {
    width: 350px;
    height: 350px;
}
.font b h5 {
    font-size: 11px !important;
}
.box1 .span1 b {
    top: 29%;
}
.box1 .span2 b {
    top: 22%;
    right: 62%;
}
.box1 .span3 b {
    top: 16%;
}
.box1 .span4 b {
    top: 11%;
    right: 44%;
}
.box1 .span5 b {
    top: 11%;
    right: 34%;
}
.font.span14 b {
    top: 46%;
}
.font.span15 b {
    top: 57%;
    right: 71%;
}
.box2 .span7 b {
    top: 45%;
    right: 75%;
}
.box2 .span8 b {
    top: 33%;
    right: 72%;
}
.box2 .span9 b {
    top: 20%;
}
.box2 .span10 b {
    top: 15%;
    right: 53%;
}
.font.span16 b {
    top: 10%;
    right: 43%;
}
.font.span17 b {
    top: 11%;
    right: 31%;
}
.font.span18 b {
    top: 16%;
    right: 21%;
}
.font.span19 b {
    top: 22%;
    right: 14%;
    transform: rotate(320deg);
}
.span11 b {
    top: 22%;
    right: 14%;
}
.span12 b {
    top: 31%;
    right: 7%;
}
.box2 .span6 b {
    top: 75%;
    transform: rotate(120deg);
    right: 59%;
}
}
a {
    text-decoration: none !important;
}

.log_out_spin {
    margin: auto;
    display: block;
    padding: 6px 24px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    color: red;
    font-size: 19px;
    font-weight: bold;
    z-index: 2;
    position: relative;
}