.pos .input_form {
    border: 1px #c57272 !important;
    color: white;
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}
.pos .popup input, .pos .popup-input {
    width: 90%;
}
.pos .pull-right {
    right: -10px
}
.pos .form-footer {
    max-width: 400px;
    padding-left: 40px;
    padding-right: 20px;
}
.pos .centered-content .touch-scrollable {
    top: 100px
}
.pos .right-content {
    top: 100px
}
.item-selected {
    border: 2px solid #6EC89B !important;
}

.pos .alert-popup {
    max-width: 800px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.pos .product .price-tag-left {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}


.pos .product .price-tag-right {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-tag-bottom-left {
    position: absolute;
    bottom: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-tag-bottom-right {
    position: absolute;
    bottom: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}
.ui-autocomplete
{
    position:absolute;
    cursor:default;
    z-index:1001 !important;
    background-color: #F0EEEE;
}

.screen .centered-content {
    top: 100px
}

.pos .product {
     border: 1px solid #e2e2e2;
}
