.card4 h4{
color:red;
font-size: 22px;
padding:40px 0px 28px;
font-weight:bold
}

.card4 i{
padding-top: 18px;
}
.card4 .icon{
width:70px;
height:70px;
border-radius:50%;
background-color:red;
color:white;
font-size:35px;
margin: auto;
}

.card4{
    max-width: 30%;
    margin: auto;
    display: block;
    border-radius: 14px;
    margin-top: 5%;
   padding: 60px 5px 60px 5px;
    box-shadow: 0 0 32px 0 #0000002e;
}
.card4 .button{
    background: #004071;
  border-radius: 11px;
  padding: 10px 20px 10px 20px;
    }

@media (max-width: 991px) {
.card4 {
  max-width: 100% !important;
}
}