.card{
    max-width: 33%;
    margin: auto;
    display: block;
    border-radius: 14px;
    box-shadow: 0 0 32px 0 #0000002e;
    margin-top: 5%;
    padding: 49px 45px 14px 48px;
}

.card h4{
padding-bottom:20px;
font-weight:bold
}

.card img{
width:20px;
}
.card h6{
padding-top: 10px;
color:#ccc
}

.card .button{
padding:10px;
text-decoration:none;
background: #004071;
border-radius: 11px;
padding: 10px 20px 10px 20px;

}

.card .cancel{
padding:10px 20px 10px 20px;
color:white;
border-radius: 11px;
text-decoration:none;
background: #004071;
margin-left:76px
}

.card5{
    max-width: 32%;
    margin: auto;
    display: block;
    border-radius: 14px;
    margin-top: 5%;
   padding: 50px 5px 7px 10px;
    box-shadow: 0 0 32px 0 #0000002e;
}

.card5 .button{
    margin:auto!important;
    background:#4c2980;
    border-radius: 11px;
    padding: 10px 20px 10px 20px;
    border: none;
    color:white
}

.card5 #image{
width: 117px;
padding-bottom:30px;
}

.card5 h4{
margin:auto;
font-size:20px;
font-weight:bold;
padding-bottom:30px;
}

h6{
padding-top:20px;
}
.card5 #logo2{
width: 34px;
}