.card3 h4{
color:green;
font-size: 22px;
padding:40px 0px 28px;
font-weight:bold
}

.card3 i{
padding-top: 18px;
}
.card3 .icon{
width:70px;
height:70px;
border-radius:50%;
background-color:green;
color:white;
font-size:35px;
margin: auto;
}

.card3{
    max-width: 30%;
    margin: auto;
    display: block;
    border-radius: 14px;
    margin-top: 5%;
   padding: 60px 5px 60px 5px;
    box-shadow: 0 0 32px 0 #0000002e;
}
.card3 .button{
    background: #004071;
  border-radius: 11px;
  padding: 10px 20px 10px 20px;
    }
