.card1 {
    padding: 30px 60px;
    margin-top: 6% !important;
    border: none;
    border-radius: 17px;
    box-shadow: 0 0 20px 0 #00000017;
    max-width: 50%;
    margin: auto;
}

.card1 input {
    width: 100%;
    margin-bottom: 23px;
    border: 1px solid #ccc;
    padding: 7px 9px;
    border-radius: 7px;
}

.card1 select {
    width: 100%;
    margin-bottom: 23px;
    border: 1px solid #ccc;
    padding: 7px 9px;
    border-radius: 7px;
}

@media (max-width: 991px) {
    .card1 {
        max-width: 70%;
    }
}

@media (max-width: 767px) {
    .card1 {
        max-width: 100%;
    }
}